html {
  font-family: sans-serif;
<<<<<<< HEAD
=======
  /*background image*/
>>>>>>> 88d9ce0255ef748b8bdef103e75047f0d238a84a
  background-image: url("./images/brain_background.png");
}

body {
  margin: 0px;
}

#game {
  /*border: 3px solid grey;*/
  margin: 0px;
  overflow: hidden; /* removing scroll bars*/
  display: block; /*preventing things outside the canvas i think*/
}
